.slide-wrapper .cart-list {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 30px;
}

.slide-wrapper .cart-list::-webkit-scrollbar {
  display: none;
}

.conteiner {
  max-width: 1200px;
  width: 95%;
}

.slide-wrapper .slide-button {
  position: absolute;
  height: 50px;
  /* top: 50%;
    transform: translateY(-50%); */
  width: 50px;
  font-size: 2.2rem;
  border: none;
  outline: none;
}

.cart-list {
  width: 700px;
}

.container {
  width: 100vh;
  padding-left: 24%;
}

.slide-wrapper {
  position: relative;
}

.slide-wrapper .slide-button#prev_slide {
  margin-top: 80px;
  left: -45px;
}

.slide-wrapper .slide-button#next_slide {
  right: -469px;
  margin-top: -212px;
}

.slide-wrapper .cart-list .cart-item {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
